<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Lisa Ponomarenko">
        <meta name="description" content="the page about the spaced repetition method">
        <meta name="keywords" content="Blueberry, English, language, Spaced repetition, about the method">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <title>
            About the method | Blueberry
        </title>
    </head>
    <body>
        <a name="up"></a>
        <header>
            <div id="logo", title="To the main page">
                <a href="file:///Users/mac/Desktop/хуйня/english_site/index.html">
                    <img src="img/blueberry_logo.jpeg" alt="Blueberry.com" width="100">
                    <span>Blueberry</span>
                </a>
            </div>
        </header>
        <main>
            <div id="about_method">
                <h1>Text about the method</h1>
            </div>
            <div id="start">
                <p>You can start use this method with us <br>
                    <a href="file:///Users/mac/Desktop/хуйня/english_site/sign_up.html">Sign up for free</a>
                </p>
            </div>
        </main>
        <footer>
            <div id="footer">
                <div id="logo_footer">
                    <a href="file:///Users/mac/Desktop/хуйня/english_site/index.html">
                        <img src="img/blueberry_logo.jpeg" alt="Blueberry", width="50">
                        <span>Blueberry</span>
                    </a>
                    <p>Your chance to learn
                        <br>
                        EVERYTHING
                    </p>
                </div>

                <div id="inforamation">
                    <h3>Information</h3>

                    <a href="file:///Users/mac/Desktop/хуйня/english_site/about_us.html">About us</a>
                    <a href="">Contacts</a>
                    <a href="file:///Users/mac/Desktop/хуйня/english_site/about_method.html">About the method</a>

                    <h3>Account</h3>
                    <a href="file:///Users/mac/Desktop/хуйня/english_site/log_in.html">Log in</a>
                    <a href="file:///Users/mac/Desktop/хуйня/english_site/sign_up.html">Registration</a>
                    <a href="file:///Users/mac/Desktop/хуйня/english_site/feedback.html">Feedback</a>
                </div>

                <a href="#up">Up</a>


            </div> 
        </footer>


    </body>

</html>