<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Lisa Ponomarenko">
        <meta name="description" content="Feedback form page">
        <meta name="keywords" content="Blueberry, English, language, Spaced repetition, Feedback">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Feedback Blueberry</title>
    </head>
    <body>
        <header>
            <div id="logo", title="To the main page">
                <a href="file:///Users/mac/Desktop/хуйня/english_site/index.html">
                    <img src="img/blueberry_logo.jpeg" alt="Blueberry.com" width="100">
                    <span>Blueberry</span>
                </a>
            </div>
        </header>

        <main>
            <div id="feedback_field">
                <form action="" method="post">
                    <div id="name_header">
                        <label for="name_field">Name</label>
                    </div>
                    <div id="name_field">
                        <input type="text" required>
                    </div>

                    <div id="email_header">
                        <br><br>
                        <label for="email_field">Email</label>
                    </div>
                    <div id="email_field">
                        <input type="email" required>
                    </div>

                    <div id="message_field">
                        <br><br>
                        <textarea placeholder="Your message here" required maxlength="200"></textarea>
                    </div>

                    <div id="feedback_btr">
                        <button type="submit"> Send </button>
                    </div>
                </form>
            </div>
        </main>
    </body>

</html>