<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Lisa Ponomarenko">
        <meta name="description" content="the main page of Blueberry site">
        <meta name="keywords" content="Blueberry, English, language, Spaced repetition">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <title>
            Blueberry
        </title>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="index.css">

    </head>

    <body>
        <a name="up"></a>
        <header class="index_header_container">
            <div id="logo" title="To the main page">
                <a href="file:///Users/mac/Desktop/хуйня/english_site/index.html">
                    <img src="img/blueberry_logo.jpg" alt="Blueberry.com" width="100" class="logo_img">
                    <span class="header_title1">Blue</span>
                    <span class="header_title2">berry</span>
                </a>
            </div>
            <div class="index_fast_access">

                <div class="button_spirit">
                    <div class="button">
                        <a href="" title="About the programm" id="about_us" class="button_name">About us</a>
                    </div>
                </div>

                <div class="button_spirit">
                    <div class="button btn-m">
                        <a  href="" title="Contact information" id="contacts" class="button_name">Contacts</a> 
                    </div>
                </div>
            </div>

            <div class="auth">
                <div class="button_spirit">
                    <div class="button login_margin">
                        <a href="" id="log_in" class="index_login_btn">Log in</a>
                    </div>
                </div>

                <div class="button_spirit">
                    <div class="button signup_margin">
                        <a href="" id="registration" class="index_signup_btn">Sign up</a>
                    </div>
                </div>
            </div>

        </header> 

        <main class="index_main">
            <div class="text">
                <h1>Blueberry - your juicy place to learn everything!</h1>
                <br>
                <p>
                    Are you tired of forgetting important information shortly after you learn it? Do you struggle to retain new knowledge and wish there was a better way to solidify your learning? Look no further! Our cutting-edge platform is here to revolutionize the way you learn and memorize information effectively and efficiently.
                    
                </p>
                <br>
                <h3>What is Spaced Repetitions?</h3>
                <div class="spaced_repetitions">
                    <p>
                        Spaced Repetitions is a powerful and scientifically-proven learning technique that optimizes the way your brain retains information. The concept is simple yet incredibly effective: instead of cramming information all at once, our platform intelligently schedules the review of material at strategic intervals. This systematic approach allows you to remember information for the long term with minimal effort.
                        <br><br>
                        <a href="">Here</a> you can write more about this methon!
                    </p>
                    <img src="spaced_repetitions.jpg" alt="statistic" class="spaced_repetitions_img">
                </div>

                <br>
                <h3>
                    Why choose our platform?
                </h3>
                <ul>
                    <li>
                        Personalized Learning: Our platform is designed to adapt to your individual learning needs. As you interact with the system, it analyzes your performance and tailors the content and review schedule to match your unique learning pace.
                    </li>
                    <br>
                    <li>
                        Maximum Retention: With Spaced Repetitions, forget about the frustration of forgetting. By reviewing information at precise intervals, you'll reinforce your memory and achieve maximum retention of even the most complex subjects.
                    </li>
                    <br>
                    <li>
                        Time Efficiency: Say goodbye to countless hours spent on traditional study methods. Our platform optimizes your study time, focusing on the information you need to review, saving you precious time and energy.
                    </li>
                    <br>
                    <li>
                        Learn Anywhere, Anytime: Whether you're on your computer or using our mobile app, learning has never been more accessible. Study at your own convenience, fitting it seamlessly into your busy schedule.
                    </li>
                    <br>
                    <li>
                        Gamified Learning: Learning should be fun, engaging, and motivating. Our platform incorporates gamification elements that turn the learning process into an enjoyable experience. Earn rewards, achieve milestones, and track your progress to stay motivated and committed
                    </li>
                    <br>
                    <li>
                        Broad Range of Subjects: From languages and history to mathematics and science, our platform caters to a wide range of subjects. Whether you're a student, professional, or lifelong learner, there's something here for everyone.
                    </li>
                    <br>
                    <li>
                        Community and Support: Connect with a vibrant community of learners, share knowledge, and collaborate on projects. Our platform fosters a supportive environment where you can engage with like-minded individuals.
                    </li>
                </ul>
                <br><br>
                <div class="span_text">
                    <p>
                        Join us today and embark on a journey of knowledge mastery like never before. Unleash the full potential of your brain with Spaced Repetitions and supercharge your learning capabilities.
                    </p>
                    <div class="prev_btn">
                        <p>Don't miss out on this opportunity to transform the way you learn.
                            Sign up now and unlock a world of endless possibilities!</p>
                    </div>

                    <a id="start" class="start_btn" href="">Start!</a>
                </div>
            </div>

            <br><br>
        </main>


        <footer class="footer_flex_container">
                <div id="logo_footer" class="logo_footer">
                    <div class="logo_footer_img">
                        <img src="img/blueberry_logo.jpg" alt="Blueberry" width="70">
                    </div>
                        <a href="file:///Users/mac/Desktop/хуйня/english_site/index.html">
                            <span class="footer_title1">Blue</span>
                            <span class="footer_title2">berry</span>
                        </a>
                        <p class="text_footer">Your chance to learn
                            <br>
                            EVERYTHING
                        </p>
                </div>

                <div id="inforamation" class="information">
                    <div>
                        <h3>Information</h3>

                        <a href="file:///Users/mac/Desktop/хуйня/english_site/about_us.html">About us</a>
                        <a href="">Contacts</a>
                        <a href="file:///Users/mac/Desktop/хуйня/english_site/about_method.html">About the method</a>
                    </div>
                    <div>
                        <h3>Account</h3>

                        <a href="file:///Users/mac/Desktop/хуйня/english_site/log_in.html">Log in</a>
                        <a href="file:///Users/mac/Desktop/хуйня/english_site/sign_up.html">Registration</a>
                        <a href="file:///Users/mac/Desktop/хуйня/english_site/feedback.html">Feedback</a>
                    </div>
                </div>
                <div class="up">
                    <a href="#up">Up</a>
                </div> 
        </footer>
    </body>

</html>

        <!-- <label>Email</label>
        <input type="email" placeholder="your_email@gmail.com">
        <br><br>
        <label>Name</label>
        <input type="text"> -->