<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Lisa Ponomarenko">
    <meta name="description" content="log in on the Blueberry site">
    <meta name="keywords" content="Blueberry, English, language, Spaced repetition, log in">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Log in to Blueberry</title>
    <link rel="stylesheet" href="log_in.css">
    <link rel="stylesheet" href="main.css">

    <script lang="js" src="/static/scripts/jquery.min.js"></script>

</head>
<body>
    <main class="auth_main">
        <div class="total_logo">
            <div id="logo" class="logo logo_local" title="To the main page">
                <a href="">
                    <img src="img/blueberry_logo.jpg" alt="Blueberry.com" class="logo_img">
                    <span class="header_title1">Blue</span>
                    <span class="header_title2">berry</span>
                </a>
            </div>
        </div>

        <div id="email_header" class="form_header form_header_local">
            <span>Don't have an account? </span>
            <a href=""> Sign up</a>
        </div>

        <form action="" method="post" id="login_form" class="auth_form auth_form_local">
            <div id="email_field" class="input_field">
                <label for="email_field" class="input_name">Email</label>
                <input  id="email-input" type="email" required>
            </div>
        


            <div id="password_field" class="input_field">
                <label for="password_field" class="input_name">Password</label>
                <input id="password-input" type="password" required>
            </div>

            <div id="log_in_btn" class="auth_btn">
                    <button type="submit"> Log in </button>
            </div>

            <div class="forgot_password">
                <a href="">Forgot password?</a>
            </div>
        </form>
    </main>
    
    
    <script lang="js" src="/static/scripts/utils.js"></script>
    <script lang="js" src="/static/scripts/jquery_login.js"></script>
</body>
</html>