<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Lisa Ponomarenko">
    <meta name="description" content="registration on the Blueberry site">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Blueberry, English, language, Spaced repetition, registration, log in">

    <title>Blueberry login</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/sign_up.css">

    <script src="../static/scripts/matter.min.js"></script>
    <script lang="js" src="/static/scripts/jquery.min.js"></script>
    <script lang="js" src="/static/scripts/jquery_easing.js"></script>
    

</head>
<body>
    <div class="animation" id="animation"></div>
    <main class="auth_main auth_main_local">
        <div id="logo" title="To the main page" class="logo logo_local">
            <a href="file:///Users/mac/Desktop/хуйня/english_site/index.html">
                <img src="/static/img/blueberry_logo.png" alt="Blueberry.com" class="logo_img">
                <span class="header_title1">Blue</span>
                <span class="header_title2">berry</span>
            </a>
        </div>
        <div class="form_header form_header_local">
            <span>Already have an account? 
                <a href="">Log in</a>
            </span>
        </div>


        <form id="cool-form" class="auth_form auth_form_local"> 
            <div id="name_field" class="input_field">
                <label for="name_field">User Name</label>
                <input id="name-field-value" placeholder=" " type="text" required>
                
            </div>
            <div id="email_field" class="input_field">
                <label for="email_field">Email</label>
                <input id="email_field_value" placeholder=" " type="email" required>
            </div>
            <div id="password_field" class="input_field">
                <label for="password_field">Password</label>
                <input id="password_field_value" placeholder=" " required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
            </div>

            <div class="password_info">
                <img src="static/svg/info.svg" alt="info" class="password_info_img">

                <div id="password_instr" class="password_instr">
                    <ul>
                        <li>8 characters minimum</li>
                        <li> One lowercase character</li>
                        <li>One uppercase character</li>
                        <li>One number</li>
                    </ul>
                </div>
            </div>
            

            <div id="agreement">
                <input id="agreement-value" type="checkbox" required>
                <label>Sign privacy and security agreement</label>
            </div>

            <div id="sign_up_btn" class="auth_btn auth_btn_local">
                <button type="submit"> Sign up </button>
            </div>
        </form>
        <!-- <img src="static/img/blueberry_logo_png.png" alt="blueberry_png" class="blueberry_png"> -->
        <div  id="emailVarification"  class="emailVarification">
            <label>Your  code:</label>
            <input id="emailVarificationInput">
            <button id="emailVarificationBtn">Send</button>
        </div>
    </main>
    <script lang="js" src="/static/scripts/utils.js"></script>
    <script lang="js" src="/static/scripts/serverApiClass.js"></script>
    <script lang="js" src="/static/scripts/jquery_sign_up.js"></script>
    <script src="../static/scripts/matter.js"></script>
</body>
</html>