<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Lisa Ponomarenko">
        <meta name="description" content="the training page of Blueberry site">
        <meta name="keywords" content="Blueberry, English, language, Spaced repetition, training">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <title> 
            Training | Blueberry
        </title>

        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="training.css">
        
    </head>
    <body>
        <a name="up"></a>
        <header class="training_header_container">
            <div id="logo" class="logo" title="To the main page">
                <div>
                    <img src="img/blueberry_logo.jpg" alt="Blueberry.com" class="logo_img">
                </div>
                <a href="file:///Users/mac/Desktop/хуйня/english_site/index.html">
                    <span class="header_title1">Blue</span>
                    <span class="header_title2">berry</span>
                </a>
            </div>
            <div id="fast_access" class="training_fast_access">
                <div class="button_spirit">
                    <div class="button">
                        <a href="" class="button_name"> My tables </a>
                        <div class="button_tip">
                            <a href=""> Table 1</a>
                        </div>
                    </div>
                </div>
                

                <div class="button_spirit">
                    <div class="button">
                        <a href="" class="button_name"> Create </a>
                        <div class="button_tip">
                            <a href=""> Table </a>
                            <a href=""> Direction</a> 
                            <a href=""> Item </a>
                        </div>
                    </div>
                </div>

                <div class="button_spirit">
                    <div class="button">
                        <a href="" class="button_name"> Training </a>
                        <div class="button_tip">
                            <a href=""> For today </a>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <aside class="aside">

            <div class="aside_img">
                <img class="avatar" src="img/avatar.jpg" alt="avatar" width="70">
                <!-- <img class="aside_right" src="right.svg" alt="up" width="30px"> -->
            </div>


            <div id="menu" class="aside_txt">
                <ul>
                    <br><br>
                    <li class="user_name"><a href=""> User name </a></li>
                    <li class="aside_position"> 
                        <img src="svg/account.svg" alt="account">
                        <a href=""> Profile </a>
                    </li>
                    <li class="aside_position"> 
                        <img src="svg/statistic.svg" alt="statistic",>
                        <a href=""> Statistic </a>
                    </li>
                    <li class="aside_position">
                        <img src="svg/settings.svg" alt="settings">
                        <a href=""> Settings </a>
                    </li>
                    <li class="aside_position"> 
                        <img src="svg/logout.svg" alt="logout">
                        <a href=""> Log out </a>
                    </li>
                </ul>
            </div>
            
            <div class="aside_up">
                <img  src="svg/up.svg" width="40px">
            </div>
        </aside>

        <main class="training_main">
            <br>
            <p class="not_yet">You have not any words for repetition yet</p>
            <div class="not_yet_tip">
                <img src="img/lightbubl.jpeg" width="30px">
            
                <div class="tutorial_tip">
                    <p><a href=""> Here</a> you can see what to do for the next step!</p>
                </div>
            </div>

        </main>

        

        <footer>
            <div id="footer" class="footer_flex_container">
                <div id="logo_footer" class="logo_footer">
                    <div class="logo_footer_img">
                        <img src="img/blueberry_logo.jpg" alt="Blueberry" width="70">
                    </div>

                    <div>
                        <a href="file:///Users/mac/Desktop/хуйня/english_site/index.html">
                            <span class="footer_title1">Blue</span>
                            <span class="footer_title2">berry</span>
                        </a>
                        <p class="text_footer">Your chance to learn
                            <br>
                            EVERYTHING
                        </p>
                    </div>
                </div>

                <div id="information" class="information">
                    <div>
                        <h3>Information</h3>

                        <a href="file:///Users/mac/Desktop/хуйня/english_site/about_us.html">About us</a>
                        <a href="">Contacts</a>
                        <a href="file:///Users/mac/Desktop/хуйня/english_site/about_method.html">About the method</a>
                    </div>
                    <div>
                        <h3>Account</h3>
                        <a href="file:///Users/mac/Desktop/хуйня/english_site/log_in.html">Log in</a>
                        <a href="file:///Users/mac/Desktop/хуйня/english_site/sign_up.html">Registration</a>
                        <a href="file:///Users/mac/Desktop/хуйня/english_site/feedback.html">Feedback</a>
                    </div>
                </div>
                <div class="up">
                    <a href="#up">UP</a>
                </div>

                


            </div> 
        </footer>
    </body>


</html>