<!DOCTYPE html>
<html>
    <head>

        <title>Workspaces | Blueberry </title>
        <script lang="js" src="/static/scripts/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <div id="logo" title="To the main page">
                <a href="file:///Users/mac/Desktop/хуйня/english_site/index.html">
                    <img src="img/blueberry_logo.jpeg" alt="Blueberry.com" width="100">
                    <span>Blueberry</span>
                </a>
            </div>
        </header>

        <main>

                <div id="workspaces_table">
                </div>
                <div>
                    <input id="add_workspace_field" type="text">
                    <button id="add_workspace_btn">Add Workspace</button>
                </div>

        </main>
        <template>

        </template>
        <script lang="js" src="/static/scripts/utils.js"></script>
        <script lang="js" src="/static/scripts/workspaces.js"> </script>
    </body>

</html>